.mycssclass {
    background-color: aqua;
    color: green;
}

.bigbluebutton {
    background-color: cyan;
    color: black;
    border: 1px solid red;
    border-bottom-width: 2px;
    border-bottom-color: blue;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px 4px lightgrey;
    text-align: center;
    transition-duration: 0.1s;
}

.bigbluebutton:hover, .biggreenbutton:hover, .bigredbutton:hover {
    box-shadow: 10px 10px 5px 4px grey;
    transition-duration: 0.1s;
}

.bigbluebutton:active, .biggreenbutton:active, .bigredbutton:active {
    transform: translateY(4px) translateX(1px);
}

.biggreenbutton {
    background-color: lightgreen;
    color: black;
    border: 1px solid red;
    border-bottom-width: 2px;
    border-bottom-color: blue;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px 4px lightgrey;
    text-align: center;
    transition-duration: 0.1s;
}

.bigredbutton {
    background-color: red;
    color: black;
    border: 1px solid red;
    border-bottom-width: 2px;
    border-bottom-color: blue;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px 4px lightgrey;
    text-align: center;
    transition-duration: 0.1s;
}


/* Container for the progress bar */
.progress-container {
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}

/* The actual progress bar */
.progress-bar {
    height: 100%;
    background-color: #4caf50; /* Green color */
    text-align: center;
    line-height: 20px; /* Vertically center the text */
    color: white;
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

